@import "./assets/fonts/peace-sans.css";
@import "./assets/fonts/selima.css";
@import "./assets/fonts/glacial-indifference.css";
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
  background-image: url(./footer-pattern.png);
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 5rem;
}

/* #content:after {
  content: "";
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 300px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
} */
